@font-face {
    font-family: "Lobster";
    src: url("../assets/fonts/LobsterFuguRegular-JpaJ7.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glacial";
    src: url("../assets/fonts/GlacialIndifference-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glacial";
    src: url("../assets/fonts/GlacialIndifference-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "Glacial", sans-serif;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-7/sym635.ani),
    url(https://cur.cursors-4u.net/symbols/sym-7/sym635.png),
    auto !important;
}

body {
    margin: 0;
    padding: 0 60px;
    background-color: var(--color-background);
}

.scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
}


