.login-heading {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Lobster", sans-serif;
    color: var(--color-black);
    font-size: 48px;
}

.login-container {
    display: flex;
    flex-direction: column; /* stack elements */
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    min-height: 80vh;
    margin: 0;
}

.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.login-field {
    margin: 15px 0;
    width: 100%;
    position: relative;
}

.login-text {
    width: 100%;
    min-width: 350px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--color-grey);
    transition: border-color 0.3s;
    font-size: 18px;
    box-sizing: border-box;
}

.login-text:focus {
    outline: none;
    border-color: var(--color-blue);
}

.password-container {
    margin-bottom: 5px;
}

.show-password-button {
    align-self: flex-end;
    border-radius: 15px;
    border-style: solid;
    transition: 0.3s;
    color: var(--color-black);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 8px 15px;
    font-size: 16px;
    margin-top: 10px;
}

.show-password-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.error-message {
    color: palevioletred;
    text-align: center;
    font-size: 16px;
}

.forgot-password {
    text-align: right;
    margin-top: 15px;
}

.forgot-password a {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-blue);
    border-style: solid;
    transition: 0.3s;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 15px;
    font-size: 18px;
}

.login-button:hover {
    background-color: var(--color-blue);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}



