.location-parts {
    display: flex;
}

.location-part {
    margin: 0 5px;
}

.name {
    font-weight: bold;
    color: darkred;
}

.street {
    color: darkgreen;
}

.number {
    color: yellow;
}

.district {
    color: blue;
}

.county {
    color: orange;
}

.city {
    color: springgreen;
}

.zip {
    color: fuchsia;
}

