:root {
    --color-background: #FAF6ED;
    --color-blue: #265281;
    --color-black: #1d1d1f;
    --color-grey: #f5f5f7;
    --color-dark-grey: #8b8c89;
    --color-beige: #c3bca8;
    --color-beige-light: #e0dcd3;
    --color-green: #bbc451;
}